body#uses {
    /* docid: o6lvfnh7fXxjnJGk49mmlaXczJPdoZzP16q90J2kqKigpKtwU1+a9N6jlp6WmFKIlaWnlaCjnGptZ6Nw */
    background-color: RGB(225, 246, 253);
    margin-left: 40%;
    margin-top: 5%;
    
}

#calculate {
    background: orange;
    padding: 5px;
    border-radius: 5px;
    border: solid 0px;
}



